---
import PlotFigure from "../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";

---

<html lang="en">
  <body>
    <main>

    </main>
    
  </bo>
</html>
